@model string

<div class="row">
    <div class="col-xs-12">
        <h1>Integrate with Weather ForeCast</h1>
        <p>Track your data:</p>
        <a class="btn btn-primary" asp-action="Authorize">Authorize</a>
        <a class="btn btn-primary" asp-action="GetWeatherForecast">Get Weather Forecase from API</a>
        <br/>
        <h3>Output</h3>
        <div class="card" style="background: #f7f7f7">
          <div class="card-body">
            <pre><code>@Model</code></pre>
          </div>
        </div>
    </div>
</div>
